.log{
	background-color: red;
	position: absolute; top: 10px;right: 100px;left: 100px;
	border-radius: 5px;
}
.log1{
 position: absolute; left: 30px;
}
.log2{
position: absolute; left: 300px;
}
.log3{
position: absolute; right: 500px;
}
.log4{
position: absolute; right: 300px;
}
.text{
position: absolute; right: 0px;
}